[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bandit = "*"
coverage = "*"
django-debug-toolbar = "*"
django-debug-toolbar-request-history = "*"
django-naomi = "*"
isort = "*"
model-mommy = "*"
pre-commit = "*"
prospector = {extras = ["with-vulture"]}
pylint = "*"
pylint-django = "*"
pylint-celery = "*"
safety = "*"

[packages]
django = "*"
celery = {extras = ["redis"]}
django-model-utils = "*"
django-webpack-loader = "*"
django-js-reverse = "*"
django-import-export = "*"
python-decouple = "*"
"psycopg2" = "*"
brotlipy = "*"
django-log-request-id = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psutil = "*"
ipython = "*"
django-meta = "*"
requests = "*"
sorl-thumbnail = "*"
python-memcached = "*"
pillow = "*"
djangorestframework = "*"
django-watson = "*"
django-tinymce = "*"
django-threadedcomments = "*"
django-star-ratings = "*"
django-select2 = "*"
django-mptt-admin = "*"
django-mptt = "*"
django-fluent-comments = "*"
django-filter = "*"
django-filebrowser-no-grappelli = "*"
django-extensions = "*"
django-crispy-forms = "*"
django-cookie-law = "*"
django-contrib-comments = "*"
django-cachalot = "*"
django-bootstrap-breadcrumbs = "*"
django-appconf = "*"
django-admin-tools = "*"
psycopg2-binary = "*"
django-reversion = "*"
django-taggit = "*"
django-easy-select2 = "*"
django-autocomplete-light = "*"

[requires]
python_version = "3.7"
