{% load static %}

<!--Logo-->
<div id="logo">
  <a href="/" class="logo" data-dark-logo="{% static 'images/logo_min_w.png' %}">
    <img height="45" src="{% static 'images/logo_min.png' %}" alt="Учисьучись.рф">
  </a>
</div>
<!--End: Logo-->

<!--Top Search Form-->
<div id="top-search">
  <form action="{% url 'search_google' %}" method="get">
    <input type="text" name="q" class="form-control" value="" placeholder="Поиск по сайту">
  </form>
</div>
<!--end: Top Search Form-->

<!--Header Extras-->
<div class="header-extras">
  <ul>
    <li  class="d-none d-xl-block d-lg-block">
      <button href="#" class="btn btn-xs"><i class="fa fa-send"></i> </button>
    </li>
  </ul>
</div>
<!--end: Header Extras-->

<!--Navigation Resposnive Trigger-->
<div id="mainMenu-trigger">
  <button class="lines-button x"> <span class="lines"></span> </button>
</div>
<!--end: Navigation Resposnive Trigger-->

<!--Navigation-->
<div id="mainMenu" class="menu-center menu-hover-background light">
  <div class="container">
    <nav>
      <ul>
        <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a>
        <li><a href="#">Новости</a></li>

{#        <li><a href="{% url 'app-news:news' %}">Новости</a></li>#}
        {% comment %}<li class="dropdown"> <a href="{% url 'edu:testing' %}">Образование</a>
                    <ul class="dropdown-menu">
                        <li lass="dropdown-submenu"><a href="#">Дошкольное</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Расскраски</a> </li>
                                <li><a href="#">Стишки</a> </li>
                                <li><a href="#">Рисовалки</a> </li>
                            </ul>
                        </li>
                        <li lass="dropdown-submenu"><a href="#">Среднее</a>
                        </li>
                        <li lass="dropdown-submenu"><a href="#"></a>
                        </li>

                    </ul>
                    <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"> <a href="{% url 'testing' %}">ЕГЭ</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'finnaly_essay' %}">Итоговое сочинение</a></li>
                                            <li><a href="/testing/1/">ЕГЭ по Русскому языку</a></li>
                                            <li><a href="/testing/3/">ЕГЭ по Математике</a></li>
                                            <li><a href="/testing/6/">ЕГЭ по Химии</a></li>
                                            <li><a href="/testing/5/">ЕГЭ по Физике</a></li>
                                            <li><a href="/testing/7/">ЕГЭ по Биологии</a></li>
                                            <li><a href="/testing/4/">ЕГЭ по Информатике</a></li>
                                            <li><a href="/testing/8/">ЕГЭ по Обществознание</a></li>
                                            <li><a href="/testing/17/">ЕГЭ по Литература</a></li>
                                            <li><a href="/testing/9/">ЕГЭ по История</a></li>
                                            <li><a href="/testing/10/">ЕГЭ по География</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"> <a href="{% url 'testing' %}">ОГЭ</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/testing/gia/1/">ОГЭ по Русский язык</a></li>
                                            <li><a href="/testing/gia/3/">ОГЭ по Математике</a></li>
                                            <li><a href="/testing/gia/6/">ОГЭ по Химии</a></li>
                                            <li><a href="/testing/gia/5/">ОГЭ по Физике</a></li>
                                            <li><a href="/testing/gia/7/">ОГЭ по Биологии</a></li>
                                        </ul>
                                    </li>
                                    <li> <a href="{% url 'schedule_ege' %}">Расписание проведения экзаменов</a></li>
                                    {% regroup fipi_menu by year as fipi_list %}
                                    {% for fipi in fipi_list %}
                                        <li  class="dropdown-submenu"><a href="#">ЕГЭ {{ fipi.grouper }} год</a>
                                            <ul  class="dropdown-menu">
                                                {% for foo in fipi.list %}
                                                    <li><a href="{% url 'test_subj_fipi_year' foo.subject.id foo.year %}">{{ foo }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                </li>
                <li class="dropdown mega-menu-item"> <a href="{% url 'univer_applicants' %}">Абитуриентам</a>
                    <ul class="dropdown-menu">
                        <li class="mega-menu-content">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul>
                                        <li class="mega-menu-title">Учебные заведения</li>
                                    </ul>
                                    <div class="col-md-12">
                                        <ul>
                                            <li> <a href="{% url 'all_suzs' %}">Каталог колледжей</a> </li>
                                            <li> <a href="{% url 'college_list_city' %}">Колледжи по городам</a> </li>
                                            <li> <a href="{% url 'suz_list_section' %}">Колледжи по направлениям</a> </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-10"><div class="text-azure seperator m-t-10 m-b-10 left"><span>ВУЗы</span></div></div>
                                    <div class="col-md-12">
                                        <ul>
                                            <li> <a href="{% url 'list_univers' %}">Каталог ВУЗов</a> </li>
                                            <li> <a href="{% url 'univers_list_city' %}">ВУЗы по городам</a> </li>
                                            <li> <a href="{% url 'univers_list_section' %}">ВУЗы по направлениям</a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <ul>
                                        <li class="mega-menu-title">Специальности</li>
                                        <li> <a href="{% url 'specialty' %}">Все специальности</a> </li>
                                        <li> <a href="{% url 'specialty_gruop' 'gumanitarnyie-nauki' %}"><i class="fa fa-caret-right leftNavIcon"></i>Гуманитарные науки</a> </li>
                                        <li>  <a href="{% url 'specialty_gruop' 'zdravoohranenie-i-meditsinskie-nauki-' %}"><i class="fa fa-caret-right leftNavIcon"></i>Медицинские науки</a> </li>
                                        <li> <a href="{% url 'specialty_gruop' 'inzhenernoe-delo-i-teh-nauki' %}"><i class="fa fa-caret-right leftNavIcon"></i>Технические науки</a> </li>
                                        <li> <a href="{% url 'specialty_gruop' 'obrazovanie-i-pedagogicheskie-nauki' %}"><i class="fa fa-caret-right leftNavIcon"></i>Педагогические науки</a> </li>
                                        <li> <a href="{% url 'specialty_gruop' 'matematicheskie-i-estestvennyie-nauki-' %}"><i class="fa fa-caret-right leftNavIcon"></i>Математические науки</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul>
                                        <li class="mega-menu-title">Профессии</li>
                                        <li> <a href="{% url 'profession_group_detail' 'aviatsionnyie-i-morskie-professii' %}"><i class="fa fa-caret-right leftNavIcon"></i>Авиационные и морские</a></li>
                                        <li> <a href="{% url 'profession_group_detail' 'voennyie-professii' %}"><i class="fa fa-caret-right leftNavIcon"></i>Военные</a></li>
                                        <li> <a href="{% url 'profession_group_detail' 'meditsinskie-professii' %}"><i class="fa fa-caret-right leftNavIcon"></i>Медицинские</a></li>
                                        <li> <a href="{% url 'profession_group_detail' 'tvorcheskie-professii' %}"><i class="fa fa-caret-right leftNavIcon"></i>Творческие</a></li>
                                        <li> <a href="{% url 'profession_group_detail' 'tehnicheskie-professii' %}"><i class="fa fa-caret-right leftNavIcon"></i>Технические</a> </li>
                                        <li> <a href="{% url 'profession_group_detail' 'yuridicheskie-pravoohranitelnyie-mchs-mvd' %}"><i class="fa fa-caret-right leftNavIcon"></i>Юридические</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul>
                                        <li class="mega-menu-title">Дополнительно</li>
                                        <li> <a href="{% url 'specialty_ege' %}">Выбор специальности по ЕГЭ</a> </li>
                                        <li> <a href="{% url 'qualification_list_detail' %}"><i class="fa fa-graduation-cap"></i> Ступени в образовании</a> </li>
                                        <li> <a href="{% url 'CalendarUniver' %}"><i class="fa fa-calendar  "></i>Календарь Абитуриента</a> </li>
                                        <li> <a  href="{% url 'univer_openDayuniver' %}"><i class="fa fa-info-circle leftNavIcon "></i>Дни открытых дверей </a> </li>
                                        <li> <a href="/applicants/benefits/"><i class="fa fa-language leftNavIcon "></i>Льготы при поступлении</a></li>
                                        <li> <a href="/applicants/terms-and-conditions/"><i class="fa fa-street-view leftNavIcon "></i>Общие правила и условия поступления</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li> <a href="{% url 'blog:blog' %}">Наш блог</a></li>
                <li class="dropdown"> <a href="{% url 'library:library_index' %}">Библиотека</a>
                    <ul class="dropdown-menu">
                        {% include 'library/_library_menu_items.html' %}
                        <li>
                            <a  href="{% url 'library:library_upload' %}">
                                <i class="fa fa-cloud-upload"></i>Загрузить материал
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#">Конкурсы</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'contest:contest_index' %}"> Конкурсы </a></li>
                        {% for item in contest_list_category %}
                            <li>
                                <a  href="{% url 'contest:contest_list_category' item.slug %}">{{ item }}</a>
                            </li>
                        {% endfor %}
                        <li><a class="text-primary" href="{% url 'contest:contest_howtotake' %}"> <i class="text-primary fa fa-exclamation-circle"> </i> <span>Как принять участие</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'school_index' %}">Услуги</a>
                </li>
                <li  class="dropdown"> <a href="#"> <i class="fa fa-key"></i> </a>
                    <ul class="dropdown-menu pull-right">
                        {% if request.user.is_authenticated %}
                            <li> <a href="{% url 'user_detail' request.user.pk %}" class="dropdown-menu-title-only">{{ request.user.first_name }}</a></li>
                            <li>
                                <a  href="{% url 'upload_avatar' %}">
                                    <img width="25" class="img-circle img-thumbnail" src="{{ request.user.avatar.url }}" alt="{{ request.user.first_name }} {{ request.user.last_name }}">
                                    Загрузить аватар
                                </a>
                            </li>
                            <li>
                                <a  href="{% url 'logout' %}" title="Выйти"><i class="fa fa-sign-out"></i> Выйти</a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'login' %}"><i class="fa  fa-user"></i> Войти </a></li>
                            {#                            <li><a href="{% url 'registration_register' %}"><i class="fa fa-user-plus"></i> Регистрация</a></li>#}
                        {% endif %}
                        <li><a href="{% url 'about' %}"><i class="fa  fa-info"></i> О портале</a></li>
                    </ul>
                </li>{% endcomment %}
      </ul>
    </nav>
  </div>
</div>
<!--end: Navigation-->
