<!-- TEAM -->
    <section class="background-grey">
        <div class="container">
            <div class="heading heading-center">
                <h2>НАША КОМАНДА</h2>
                <p>Мы открыты для диалога и готовы обсуждать предложения о сотрудничестве, усовершенствовании нашего сервиса и внедрении новых услуг. </p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="image-box circle-image small"> <img class="" src="{{ STATIC_URL }}v.3/images/people/1-min.jpg" alt=""> </div>
                    <div class="image-box-description text-center">
                        <h4>Халявин Алексей</h4>
                        <p class="subtitle">Руководитель проекта</p>
                        <hr class="line">
                        <div>То, что измерено, будет сделано…</div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="image-box circle-image small"> <img alt="" src="{{ STATIC_URL }}v.3/images/people/2-min.jpg"> </div>
                    <div class="image-box-description text-center">
                        <h4>Парамонова Лиана</h4>
                        <p class="subtitle">Редактор</p>
                        <hr class="line">
                        <div>Человек, который знает, что ему нужно, но не знает, что это такое. </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="image-box circle-image small"> <img src="{{ STATIC_URL }}v.3/images/people/4-min.jpg" alt=""> </div>
                    <div class="image-box-description text-center ">
                        <h4>Лесовских Игорь</h4>
                        <p class="subtitle">Шеф-редактор</p>
                        <hr class="line">
                        <div>Добавить фразу удалось не сразу - ее стирали, гладили, готовили к показу...</div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="image-box circle-image small"> <img src="{{ STATIC_URL }}v.3/images/people/3-min.jpg" alt=""> </div>
                    <div class="image-box-description text-center">
                        <h4>Чарина Полина</h4>
                        <p class="subtitle">Дизайнер</p>
                        <hr class="line">
                        <div>Хороший дизайн — как можно меньше дизайна</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END: TEAM -->