<div class="widget clearfix widget-categories">
    <h4 class="widget-title">Наши сервисы</h4>
    <ul class="list list-arrow-icons">
        <li> <a title="" href="{% url 'testing' %}">Подготовка к ЕГЭ </a> </li>
        <li> <a title="" href="{% url 'univer_applicants' %}">Абитуриентам </a> </li>
        <li> <a title="" href="{% url 'library_index' %}">Библиотека </a> </li>
        <li> <a title="" href="{% url 'contest_index' %}">Конкурсы </a> </li>
        <li> <a title="" href="{% url 'app-news:news' %}">Новости</a> </li>
        <li> <a title="Наш блог" href="{% url 'blog:blog' %}">Наш блог </a> </li>
    </ul>
</div>