<div class="widget clearfix widget-contact-us">
    <h4 class="widget-title">Наши контакты</h4>
    <ul class="list-large list-icons">
        <li><i class="fa fa-map-marker"></i>
            <strong>Адрес:</strong> 620023, Екатеринбург,
            <br>ул. Патриотов д.6 к.2
        </li>
        <li><i class="fa fa-phone"></i><strong>Телефон:</strong> 8 800-222-05-11<br>(звонок по России бесплатный)</li>
        <li><i class="fa fa-envelope"></i><strong>Email:</strong> <a
                href="mailto:first.last@example.com">info@sp-corp.ru</a>
        </li>
        <li><i class="fa fa-clock-o"></i>Понедельник Пятница: <br><strong>09:00 - 18:00</strong>
            <br>Суббота Воскресенье: <strong>Выходной</strong>
        </li>
    </ul>
</div>