<div class="widget clearfix widget-tweeter">
    <h4 class="widget-title">Последние твиты</h4>
    <ul class="list-tweets list-medium">
        <li>Я просто закрыла сделку за 14 минут на EchoSign решение для электронной подписи <a href="https://t.co/LNw6ludJ3S">https://t.co/LNw6ludJ3S</a>
            <span class="list-tweets-date">10 дней назад</span>
        </li>
        <li>
            I love Dropbox because Simple it is the best for saving all important files that worth! <a href="https://t.co/EQvlz88Xht ">https://t.co/EQvlz88Xht </a>
            <span class="list-tweets-date">10 days ago</span>
        </li>
    </ul>
</div>