{% load static compress %}
{% compress css %}
    <link href="{% static 'css/plugins.css' %}"  type="text/css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" type="text/css" rel="stylesheet">
{#    <link href="{{ STATIC_URL }}v.3/vendor/animateit/animate.min.css" rel="stylesheet">#}
{#    <link href="{{ STATIC_URL }}v.3/vendor/owlcarousel/owl.carousel.css" rel="stylesheet">#}
{#    <link href="{{ STATIC_URL }}v.2/css/chosen.min.css" rel="stylesheet"  type="text/css">#}
{#    <link href="{{ STATIC_URL }}v.3/vendor/magnific-popup/magnific-popup.css" rel="stylesheet"  type="text/css">#}
{#    <link href="{{ STATIC_URL }}v.3/css/theme-base.css" rel="stylesheet"  type="text/css">#}
{#    <link href="{{ STATIC_URL }}v.3/css/theme-elements.css" rel="stylesheet"  type="text/css">#}
{#    <link href="{{ STATIC_URL }}v.3/css/responsive.css" rel="stylesheet"  type="text/css">#}
{#    <link href="{{ STATIC_URL }}v.3/css/color-variations/brown-light.css" rel="stylesheet" type="text/css" >#}
{#    <link href="{{ STATIC_URL }}v.2/bootstrap/dist/css/bootstrap-custom.css"  type="text/css" rel="stylesheet">#}
{#    <link href="{{ STATIC_URL }}v.2/css/jquery.formstyler.css"  type="text/css" rel="stylesheet">#}
{#    <link href="{{ STATIC_URL }}v.2/css/spec-ege.css"  type="text/css" rel="stylesheet">#}
{#    <link href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css"  type="text/css" rel="stylesheet" >#}
    <link href="{% static 'css/custom.css' %}" type="text/css" rel="stylesheet">
{#    <link href="{% static 'star-ratings/css/star-ratings.css' %}" type="text/css" rel="stylesheet" >#}
{#    <link href="{{ STATIC_URL }}v.2/css/prettyCheckable.css" rel="stylesheet" type="text/css">#}
{% endcompress %}