<!-- Sidebar-->
<div class="sidebar sidebar-modern col-md-3">
    <!--widget newsletter-->
    {% include 'polo/widgets/newsletter.html' %}
    <!--end: widget newsletter-->


    <!--widget blog articles-->
    {% include 'polo/widgets/blog-articles.html' %}
    <!--end: widget blog articles-->

    <!--widget categories-->
    {% include 'polo/widgets/categories.html' %}
    <!--end: widget categories-->

    <!--widget contact us-->
    {% include 'polo/widgets/contact-us.html' %}
    <!--end: widget contact us-->

    <!--widget blockquote -->
    {% include 'polo/widgets/blockquote.html' %}
    <!--end: widget blockquote -->

</div>
<!-- END: Sidebar-->
</div>